/* Recordatorio: Definimos los limites y disposición de los elemntos en el contenedor
y despues cuanto decidimos usar de ellos en el mismo elemento */

/* Input Kids App */
.kids-app{
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    width: 250px;
    min-height: 180px;
}

.kids-app .addKids{
    margin: 5px 0px 0px 0px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 100%;
    height: 105px;
}

.kids-app .addKids p{
    margin: 0px;
    font-size: 13px;
    text-align: center;
}

.kids-app .addKids input{
    width: 85%;
    height: 30%;
    padding: 0px 15px 0px 15px;
    margin: 10px 0px 10px 0px;
    border-radius: 13px;
}

.kids-app .addKids button{
    margin: auto;
    width: 60%;
    height: 25%;
    font-size: 13px;
    border-radius: 15px;
}

.kids-app .showKids{
    margin: 0px 0px 5px 0px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 100%;
    height: 100%;
}

.kids-app .showKids button{
    margin: auto;
    margin-top: 2.525px;
    width: 60%;
    height: 25px;
    font-size: 13px;
    border: none;
    border-radius: 15px;
    background-color: #00D1D9;
    color: white;
}
.kids-app .showKids p{
    margin: 0px;
    margin: 5px;
    text-align: center;

}

/* Calculator App */
.calculator-app{
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    width: 200px;
    height: 250px;
}

.calculator-app .print{
    text-align: center;
    width: 100%;
    height: 25%;
}
.calculator-app .print input{
    padding: 0px;
    padding: 0px 13px 0px 13px;
    box-sizing: border-box;
    border: none;
    width: 100%;
    height: 100%;
    background-color: #2B4376;
    font-size: 18px;
    color: white;
    text-align: right;
    
}

.calculator-app .keyboard{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 75%;
}

.calculator-app .keyboard .col-btn-num{
    width: 75%;
    height: 100%;
}

.calculator-app .keyboard .col-btn-num button{
    width: 33.3%;
    height: 20%;
    border: none;
}

.calculator-app .keyboard .col-btn-num button:hover{
    background-color: #d6d2d2;
}

.calculator-app .keyboard .col-btn-num .col-btn-num-cle{
    width: 100%;
    height: 20%;
}

.calculator-app .keyboard .col-btn-num .col-btn-num-cle button{
    width: 50%;
    height: 100%;
    font-size: 15px;
    color: black;
}

.calculator-app .keyboard .col-btn-num .col-btn-num-cero{
    width: 100%;
    height: 20%;
}

.calculator-app .keyboard .col-btn-num .col-btn-num-cero button{
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: black;
}

.calculator-app .keyboard .col-btn-op{
    width: 25%;
    height: 100%;
}

.calculator-app .keyboard .col-btn-op button{
    width: 100%;
    height: 20%;
    border: none;
    font-size: 15px;
    color: white;
    background-color: #0287FF;
}

.calculator-app .keyboard .col-btn-op button:hover{
    background-color: #1c94fd;
}

/* Curd App */
.container{
    display: flex;
    flex-flow: column wrap;
    background-color: red;
}

.container .titles {
    display: flex;
    background-color: green;
}

.container .personRender{
    display: flex;
    background-color: blue;
}

.container .addPerson{
    display: flex;
    background-color: yellow;
}